@import "_variable";

.modal-title {
  padding: 8px;
  border-bottom: 1px solid @color-modal-border;
  text-align: center;
}
.modal-content {
  padding: 32px;
}

.confirm-button-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 80px;
  margin: 0 auto;
}
